html{
    background-image:url(https://static.vecteezy.com/system/resources/previews/010/925/820/original/colorful-welcome-design-template-free-vector.jpg)
}
title{
    color: yellow;
}
li{
    color: rgb(11, 60, 184);
    font-size: medium;
}
p{
    color: red;
    font-size: x-large;
}
Button{
    font-size: 20px;
    background-color: coral;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: dimgrey;  
}